@use "tailwindcss";
@use "./colors" as colors;



%btn {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 3px;
  border-radius: 0.375rem;
  cursor: pointer;

  // &:focus {
  //   outline: none;
  //   opacity: 0.5;
  // }

  &:hover {
    opacity: 0.8;
    transition: 0.2s ease-in-out;
  }

  &:disabled {
    opacity: 0.6;
    transition: 0.2s ease-in-out;
    cursor: not-allowed;
  }
}

.btn-noshimehana {
  @extend %btn;
  background-color: colors.$noshimehana;
  color: rgb(255, 255, 255);
}

.btn-ruri {
  @extend %btn;
  background-color: colors.$ruri;
  color: rgb(255, 255, 255);
}

.btn-aomidori {
  @extend %btn;
  background-color: colors.$aomidori;
  color: rgb(0, 0, 0);
}

.btn-gunjyo {
  @extend %btn;
  background-color: colors.$gunjyo;
  color: rgb(255, 255, 255);
}

.btn-nibi {
  @extend %btn;
  background-color: colors.$nibi;
  color: rgb(255, 255, 255);
}

.btn-nakabeni {
  @extend %btn;
  background-color: colors.$nakabeni;
  color: rgb(255, 255, 255);
}

.btn-keshizumi {
  @extend %btn;
  background-color: colors.$keshizumi;
  color: rgb(255, 255, 255);
}
