@use "tailwindcss";
@use "./colors" as colors;



%btn {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 3px;
  border-radius: 0.375rem;
  min-width: max-content;
  cursor: pointer;

  // &:focus {
  //   outline: none;
  //   opacity: 0.5;
  // }

  &:hover {
    opacity: 0.8;
    transition: 0.2s ease-in-out;
  }

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}

%btn-text-dark {
  @extend %btn;

  * {
    color: colors.$kuro;
  }
}

%btn-text-light {
  @extend %btn;

  * {
    color: colors.$shironeri;
  }
}

.btn-noshimehana {
  @extend %btn-text-light;
  background-color: colors.$noshimehana;
}

.btn-ruri {
  @extend %btn-text-light;
  background-color: colors.$ruri;
}

.btn-aomidori {
  @extend %btn-text-dark;
  background-color: colors.$aomidori;
}

.btn-midori {
  @extend %btn-text-light;
  background-color: colors.$midori;
}

.btn-tsuyukusa {
  @extend %btn-text-light;
  background-color: colors.$tsuyukusa;
}

.btn-nibi {
  @extend %btn-text-light;
  background-color: colors.$nibi;
}

.btn-kurenainoyashio {
  @extend %btn-text-light;
  background-color: colors.$kurenainoyashio;
}

.btn-keshizumi {
  @extend %btn-text-light;
  background-color: colors.$keshizumi;
}
