// https://nipponcolors.com

$shironeri: rgb(252, 250, 242);
// 白練

$sharegaki: rgb(255, 186, 132);
// 洒落柿

$kanzo: rgb(252, 159, 77);
// 萱草

$sohi: rgb(251, 160, 39);
// 蘇比

$usuki: rgb(250, 214, 137);
// 浅黄

$usukihada: rgb(249, 241, 192);
// 淡黄蘗

$nanohana: rgb(247, 217, 76);
// 菜の花

$hanaba: rgb(247, 194, 66);
// 花葉

$benihi: rgb(247, 92, 47);
// 紅緋

$kuchinashi: rgb(246, 197, 85);
// 梔子

$momo: rgb(245, 150, 170);
// 桃

$ikkonzome: rgb(244, 167, 185);
// 一斤染

$ohni: rgb(240, 94, 28);
// 黄丹

$toki: rgb(238, 169, 169);
// 鴇

$sohi: rgb(237, 120, 74);
// 纁

$kanariairo: rgb(236, 224, 52);
// 金糸雀色

$usukoh: rgb(235, 180, 113);
// 薄香

$shirosumireiro: rgb(233, 234, 245);
// 白菫色

$kariyasu: rgb(233, 205, 76);
// 刈安

$usubeni: rgb(232, 122, 144);
// 薄紅

$syoujyouhi: rgb(232, 48, 21);
// 猩猩緋

$AKAKOH: rgb(227, 145, 110);
// 赤香

$kohbai: rgb(225, 107, 140);
// 紅梅

$nakabeni: rgb(224, 85, 119);
// 中紅

$tsutsuji: rgb(224, 60, 138);
// 躑躅

$nadeshiko: rgb(220, 159, 180);
// 撫子

$bekkouiro: rgb(220, 130, 0);
// 碧梧桐

$torinoko: rgb(218, 201, 166);
// 鳥の子

$kikuchiba: rgb(217, 171, 66);
// 黄朽葉

$haizakura: rgb(215, 196, 187);
// 灰桜

$tonoko: rgb(215, 185, 142);
// 砥粉

$shirotsurubami: rgb(206, 155, 14);
// 鼈甲色

$ake: rgb(204, 84, 58);
// 緋

$kurenai: rgb(203, 27, 69);
// 紅

$enshucha: rgb(202, 130, 105);
// 遠州茶

$hiwamoegi: rgb(201, 202, 145);
// 鶸萌黄

$kincha: rgb(199, 128, 45);
// 金茶

$ginshu: rgb(199, 62, 58);
// 銀朱

$terigaki: rgb(196, 98, 67);
// 照柿

$kokiake: rgb(194, 0, 36);
// 深緋

$chohshun: rgb(191, 103, 102);
// 長春

$shiracha: rgb(188, 159, 119);
// 白茶

$shikancha: rgb(181, 93, 76);
// 芝翫茶

$ichigo: rgb(181, 73, 91);
// 苺

$karacha: rgb(180, 113, 87);
// 唐茶

$kabacha: rgb(179, 92, 55);
// 樺茶

$kikujin: rgb(177, 180, 121);
// 麴塵

$aokuchiba: rgb(173, 161, 66);
// 青朽葉

$kurenainoyashio: rgb(173, 0, 45);
// 紅の八塩

$shinsyu: rgb(171, 59, 58);
// 真朱

$rengairo: rgb(170, 92, 63);
// 煉瓦色

$byakuroku: rgb(168, 216, 185);
// 白緑

$suo: rgb(168, 69, 98);
// 蘇芳

$nataneyu: rgb(162, 140, 55);
// 菜種油

$Sodenkaracha: rgb(161, 109, 93);
// 宗伝唐茶

$benitobi: rgb(153, 70, 57);
// 紅鳶

$fushizome: rgb(150, 114, 73);
// 柴染

$yanagicha: rgb(147, 150, 80);
// 柳茶

$murasakishikibu: rgb(144, 50, 109);
// 紫式部

$suzumecha: rgb(143, 90, 60);
// 雀茶

$higosusutake: rgb(141, 116, 42);
// 肥後梅竹

$oborohanairo: rgb(138, 183, 210);
// 朧花色

$fujimurasaki: rgb(138, 107, 190);
// 藤紫

$baikocha: rgb(137, 145, 107);
// 梅幸茶

$aku: rgb(135, 127, 108);
// 灰汁

$kobicha: rgb(135, 102, 51);
// 媚茶

$nae: rgb(134, 193, 102);
// 苗

$hiwada: rgb(133, 72, 54);
// 檜皮

$ginsusutake: rgb(130, 102, 58);
// 銀煤竹

$yanaginezumi: rgb(128, 143, 124);
// 柳鼠

$wasurenagusa: rgb(125, 185, 222);
// 勿忘草

$moegi: rgb(123, 162, 63);
// 萌黄

$benimidori: rgb(123, 144, 210);
// 紅碧

$sunezumi: rgb(120, 125, 123);
// 素鼠

$fukagawanezumi: rgb(119, 150, 154);
// 深川鼠

$edomurasaki: rgb(119, 66, 141);
// 江戸紫

$oitakeiro: rgb(118, 145, 100);
// 老竹色

$rokohcha: rgb(116, 103, 62);
// 路考茶

$ebicha: rgb(115, 67, 56);
// 海老茶

$hatobanezumi: rgb(114, 91, 110);
// 鳩羽鼠

$tobi: rgb(114, 72, 50);
// 鳶

$rikyunezumi: rgb(112, 124, 116);
// 利休鼠

$futaai: rgb(112, 100, 154);
// 二藍

$ebizome: rgb(109, 46, 91);
// 葡萄染

$uguisu: rgb(108, 106, 45);
// 鶯

$kikyo: rgb(106, 76, 156);
// 桔梗

$kurikawacha: rgb(106, 64, 40);
// 栗皮茶

$kurumi: rgb(102, 51, 0);
// 胡桃

$nibi: rgb(101, 103, 101);
// 鈍

$mirucha: rgb(98, 89, 44);
// 海松茶

$wakatake: rgb(97, 130, 73);
// 若竹

$rikancha: rgb(97, 97, 56);
// 璃寛茶

$miru: rgb(91, 98, 46);
// 海松

$gen: rgb(87, 71, 56);
// 玄

$murasaki: rgb(89, 44, 99);
// 紫

$fujisusutake: rgb(85, 68, 102);
// 藤煤竹

$messhi: rgb(83, 61, 91);
// 滅紫

$benikakehana: rgb(78, 79, 151);
// 紅掛花

$onandocha: rgb(70, 93, 76);
// 御納戸茶

$keshizumi: rgb(67, 67, 67);
// 消炭

$kenpohzome: rgb(67, 52, 27);
// 憲法染

$urumishu: rgb(66, 0, 0);
// 潤朱

$shikon: rgb(60, 47, 65);
// 紫紺

$aisumicha: rgb(55, 60, 56);
// 藍墨茶

$saitadumairo: rgb(50, 129, 49);
// 左伊多津万色

$tsuyukusa: rgb(46, 169, 223);
// 露草

$tokusa: rgb(45, 109, 75);
// 木賊

$noshimehana: rgb(43, 95, 117);
// 熨斗目花

$tetsukon: rgb(38, 30, 71);
// 鉄紺

$hanaasagi: rgb(30, 136, 168);
// 花浅葱

$konkikyo: rgb(33, 30, 85);
// 紺桔梗

$sumi: rgb(28, 28, 28);
// 墨

$katsuiro: rgb(24, 27, 56);
// 勝色

$aimirucha: rgb(15, 76, 58);
// 藍海松茶

$kon: rgb(15, 37, 64);
// 紺

$kuro: rgb(12, 12, 12);
// 黒

$ro: rgb(8, 8, 8);
// 呂

$aomidori: rgb(0, 170, 144);
// 青緑

$shinbashi: rgb(0, 137, 167);
// 新橋

$suishoku: rgb(0, 126, 102);
// 翠色

$gunjyo: rgb(0, 102, 153);
// 群青

$hanada: rgb(0, 98, 132);
// 縹

$ruri: rgb(0, 92, 175);
// 瑠璃

$nurebairo: rgb(0, 11, 0);
// 濡羽色
