// https://nipponcolors.com
// https://irocore.com/

$tohoh: rgb(255, 196, 8);
// 藤黄

$sharegaki: rgb(255, 186, 132);
// 洒落柿

$yamabuki: rgb(255, 177, 27);
// 山吹

$sakura: rgb(254, 223, 225);
// 桜

$shironeri: rgb(252, 250, 242);
// 白練

$kanzo: rgb(252, 159, 77);
// 萱草

$sohi: rgb(251, 160, 39);
// 蘇比

$kokikuchinashi: rgb(251, 153, 102);
// 深支子

$araishu: rgb(251, 150, 110);
// 洗朱

$usuki: rgb(250, 214, 137);
// 浅黄

$usukihada: rgb(249, 241, 192);
// 淡黄蘗

$tamago: rgb(249, 191, 69);
// 玉子

$taikoh: rgb(248, 195, 205);
// 退紅

$nanohana: rgb(247, 217, 76);
// 菜の花

$hanaba: rgb(247, 194, 66);
// 花葉

$benihi: rgb(247, 92, 47);
// 紅緋

$kuchinashi: rgb(246, 197, 85);
// 梔子

$momo: rgb(245, 150, 170);
// 桃

$ikkonzome: rgb(244, 167, 185);
// 一斤染

$akebono: rgb(241, 148, 131);
// 曙

$sangoshu: rgb(241, 124, 103);
// 珊瑚珠

$shishi: rgb(240, 169, 134);
// 宍

$ohni: rgb(240, 94, 28);
// 黄丹

$toki: rgb(238, 169, 169);
// 鴇

$sohi: rgb(237, 120, 74);
// 纁

$kanaria: rgb(236, 224, 52);
// 金糸雀

$usugaki: rgb(236, 184, 138);
// 薄柿

$usukoh: rgb(235, 180, 113);
// 薄香

$jinzamomi: rgb(235, 122, 119);
// 甚三紅

$shirosumire: rgb(233, 234, 245);
// 白菫

$kariyasu: rgb(233, 205, 76);
// 刈安

$umezome: rgb(233, 163, 104);
// 梅染

$beniukon: rgb(233, 139, 42);
// 紅鬱金

$toumorokoshi: rgb(232, 182, 71);
// 玉蜀黍

$usubeni: rgb(232, 122, 144);
// 薄紅

$shojohi: rgb(232, 48, 21);
// 猩猩緋

$araigaki: rgb(231, 148, 96);
// 洗柿

$akakoh: rgb(227, 145, 110);
// 赤香

$kuchiba: rgb(226, 148, 59);
// 朽葉

$akashirotsurubami: rgb(225, 166, 121);
// 赤白橡

$kohbai: rgb(225, 107, 140);
// 紅梅

$nakabeni: rgb(224, 85, 119);
// 中紅

$tsutsuji: rgb(224, 60, 138);
// 躑躅

$hajizome: rgb(221, 165, 45);
// 櫨染

$shirotsurubami: rgb(221, 174, 135);
// 白橡

$nadeshiko: rgb(220, 159, 180);
// 撫子

$bekkouiro: rgb(220, 130, 0);
// 碧梧桐

$tokigaracha: rgb(219, 142, 113);
// ときがら茶

$torinoko: rgb(218, 201, 166);
// 鳥の子

$mushikuri: rgb(217, 205, 144);
// 蒸栗

$kikuchiba: rgb(217, 171, 66);
// 黄朽葉

$kyara: rgb(216, 163, 115);
// 伽羅

$tonoko: rgb(215, 185, 142);
// 砥粉

$entan: rgb(215, 84, 85);
// 鉛丹

$yamabukicha: rgb(214, 153, 33);
// 山吹茶

$imayoh: rgb(208, 90, 110);
// 今様

$karakurenai: rgb(208, 16, 76);
// 韓紅花

$shirotsurubami: rgb(206, 155, 14);
// 鼈甲

$ake: rgb(204, 84, 58);
// 緋

$akabeni: rgb(203, 64, 66);
// 赤紅

$kurenai: rgb(203, 27, 69);
// 紅

$enshucha: rgb(202, 130, 105);
// 遠州茶

$kohaku: rgb(202, 122, 44);
// 琥珀

$hiwamoegi: rgb(201, 202, 145);
// 鶸萌黄

$kuwachai: rgb(201, 152, 51);
// 桑茶

$akakuchiba: rgb(199, 133, 80);
// 赤朽葉

$kincha: rgb(199, 128, 45);
// 金茶

$ginshu: rgb(199, 62, 58);
// 銀朱

$terigaki: rgb(196, 98, 67);
// 照柿

$kokiake: rgb(194, 0, 36);
// 深緋

$kigaracha: rgb(193, 138, 38);
// 黄唐茶

$kaba: rgb(193, 105, 60);
// 樺

$botan: rgb(193, 50, 142);
// 牡丹

$chohshun: rgb(191, 103, 102);
// 長春

$hiwa: rgb(190, 194, 63);
// 鶸

$shironezumi: rgb(189, 192, 186);
// 白鼠

$shiracha: rgb(188, 159, 119);
// 白茶

$kitsurubami: rgb(186, 145, 50);
// 黄橡

$tokiasagi: rgb(184, 136, 132);
// 鴇浅葱

$ohdo: rgb(182, 142, 85);
// 黄土

$urayanagi: rgb(181, 202, 160);
// 裏柳

$shikancha: rgb(181, 93, 76);
// 芝翫茶

$ichigo: rgb(181, 73, 91);
// 苺

$benikaba: rgb(181, 68, 52);
// 紅樺

$rikyushiracha: rgb(180, 165, 130);
// 利休白茶

$benifuji: rgb(180, 129, 187);
// 紅藤

$karacha: rgb(180, 113, 87);
// 唐茶

$kabacha: rgb(179, 92, 55);
// 樺茶

$usu: rgb(178, 143, 206);
// 薄

$kikujin: rgb(177, 180, 121);
// 麴塵

$sakuranezumi: rgb(177, 150, 147);
// 桜鼠

$biwacha: rgb(177, 120, 68);
// 枇杷茶

$chojizome: rgb(176, 119, 54);
// 丁子染

$edocha: rgb(175, 95, 60);
// 江戸茶

$aokuchiba: rgb(173, 161, 66);
// 青朽葉

$kurenainoyashio: rgb(173, 0, 45);
// 紅の八塩

$shinshu: rgb(171, 59, 58);
// 真朱

$renga: rgb(170, 92, 63);
// 煉瓦

$suohkoh: rgb(169, 99, 96);
// 蘇芳香

$byakuroku: rgb(168, 216, 185);
// 白緑

$suo: rgb(168, 69, 98);
// 蘇芳

$kamenozoki: rgb(165, 222, 228);
// 瓶覗、甕覗

$hiwacha: rgb(165, 160, 81);
// 鶸茶

$taisha: rgb(163, 99, 54);
// 代赭

$kakishibu: rgb(163, 94, 71);
// 柿渋

$nataneyu: rgb(162, 140, 55);
// 菜種油

$sodenkaracha: rgb(160, 103, 75);
// 宗伝唐茶

$enji: rgb(159, 53, 58);
// 臙脂

$umenezumi: rgb(158, 122, 122);
// 梅鼠

$ouchi: rgb(155, 144, 194);
// 楝

$kitsune: rgb(155, 110, 35);
// 狐

$bengara: rgb(154, 80, 52);
// 弁柄

$benitobi: rgb(153, 70, 57);
// 紅鳶

$hashita: rgb(152, 109, 178);
// 半

$tonocha: rgb(152, 95, 42);
// 礪茶

$fushizome: rgb(150, 114, 73);
// 柴染

$chojicha: rgb(150, 99, 46);
// 丁子茶

$azuki: rgb(149, 74, 69);
// 小豆

$kurumi: rgb(148, 122, 109);
// 胡桃

$yanagicha: rgb(147, 150, 80);
// 柳茶

$usuao: rgb(145, 180, 147);
// 薄青

$yanagizome: rgb(145, 173, 112);
// 柳染

$ginnezumi: rgb(145, 152, 159);
// 銀鼠

$hiwamoegi: rgb(144, 180, 75);
// 鶸萌黄

$kuririume: rgb(144, 64, 40);
// 栗梅

$murasakishikibu: rgb(144, 50, 109);
// 紫式部

$shion: rgb(143, 119, 181);
// 紫苑

$suzumecha: rgb(143, 90, 60);
// 雀茶

$suoh: rgb(142, 53, 74);
// 蘇芳

$higosusutake: rgb(141, 116, 42);
// 肥後梅竹

$fuji: rgb(139, 129, 195);
// 藤

$oborohana: rgb(138, 183, 210);
// 朧花

$fujimurasaki: rgb(138, 107, 190);
// 藤紫

$rikyucha: rgb(137, 125, 85);
// 利休茶

$baikocha: rgb(137, 145, 107);
// 梅幸茶

$benihiwada: rgb(136, 76, 58);
// 紅檜皮

$aku: rgb(135, 127, 108);
// 灰汁

$kobicha: rgb(135, 102, 51);
// 媚茶

$nae: rgb(134, 193, 102);
// 苗

$sabiseiji: rgb(134, 166, 151);
// 錆青磁

$kimirucha: rgb(134, 120, 53);
// 黄海松茶

$kokiake: rgb(134, 71, 63);
// 深緋

$sencha: rgb(133, 91, 50);
// 煎茶

$hiwada: rgb(133, 72, 54);
// 檜皮

$koke: rgb(131, 138, 45);
// 苔

$ginsusutake: rgb(130, 102, 58);
// 銀煤竹

$mizu: rgb(129, 199, 212);
// 水

$yanaginezumi: rgb(128, 143, 124);
// 柳鼠

$wasurenagusa: rgb(125, 185, 222);
// 勿忘草

$kohrozen: rgb(125, 83, 44);
// 黄櫨染

$moegi: rgb(123, 162, 63);
// 萌黄

$benimidori: rgb(123, 144, 210);
// 紅碧

$byakugun: rgb(120, 194, 196);
// 白群

$sunezumi: rgb(120, 125, 123);
// 素鼠

$namari: rgb(120, 120, 120);
// 鉛

$kyara: rgb(120, 85, 43);
// 伽羅

$fukagawanezumi: rgb(119, 150, 154);
// 深川鼠

$edomurasaki: rgb(119, 66, 141);
// 江戸紫

$oitake: rgb(118, 145, 100);
// 老竹

$rokohcha: rgb(116, 103, 62);
// 路考茶

$ebicha: rgb(115, 67, 56);
// 海老茶

$hatobanezumi: rgb(114, 99, 110);
// 鳩羽鼠

$momoshiocha: rgb(114, 73, 56);
// 百塩茶

$tobi: rgb(114, 72, 50);
// 鳶

$rikyunezumi: rgb(112, 124, 116);
// 利休鼠

$futaai: rgb(112, 100, 154);
// 二藍

$ayame: rgb(111, 51, 129);
// 菖蒲

$fujinezumi: rgb(110, 117, 164);
// 藤鼠

$susutake: rgb(110, 85, 47);
// 煤竹

$ebizome: rgb(109, 46, 91);
// 蒲葡

$uguisu: rgb(108, 106, 45);
// 鶯

$uguisucha: rgb(108, 105, 44);
// 鶯茶

$oitake: rgb(106, 131, 114);
// 老竹

$kikyo: rgb(106, 76, 156);
// 桔梗

$kurikawacha: rgb(106, 64, 40);
// 栗皮茶

$seiji: rgb(105, 176, 172);
// 青磁

$mizuasagi: rgb(102, 186, 183);
// 水浅葱

$sabiasagi: rgb(102, 153, 161);
// 錆浅葱

$kurumi: rgb(102, 51, 0);
// 胡桃

$sumire: rgb(102, 50, 124);
// 菫

$nibi: rgb(101, 103, 101);
// 鈍

$iwaicha: rgb(100, 106, 88);
// 岩井茶

$kuwazome: rgb(100, 54, 60);
// 桑染

$mirucha: rgb(98, 89, 44);
// 海松茶

$kakitsubata: rgb(98, 41, 84);
// 杜若

$rikancha: rgb(97, 97, 56);
// 璃寛茶

$murasakitobi: rgb(96, 55, 62);
// 紫鳶

$budohnezumi: rgb(95, 57, 91);
// 葡萄鼠

$wakatake: rgb(93, 172, 129);
// 若竹

$miru: rgb(91, 98, 46);
// 海松

$dobunezumi: rgb(89, 84, 85);
// 丼鼠

$murasaki: rgb(89, 44, 99);
// 紫

$sora: rgb(88, 178, 220);
// 空

$masuhana: rgb(87, 124, 138);
// 舛花

$gen: rgb(87, 71, 56);
// 玄

$nasukon: rgb(87, 42, 63);
// 茄子紺

$ainezumi: rgb(86, 108, 115);
// 藍鼠

$kogechai: rgb(86, 63, 46);
// 焦茶

$nisemurasaki: rgb(86, 46, 55);
// 似紫

$fujisusutake: rgb(85, 68, 102);
// 藤煤竹

$kurotobi: rgb(85, 66, 54);
// 黒鳶

$aonibi: rgb(83, 89, 83);
// 青鈍

$messhi: rgb(83, 61, 91);
// 滅紫

$benikeshinezumi: rgb(82, 67, 61);
// 紅消鼠

$gunjyo: rgb(81, 168, 221);
// 群青

$aoni: rgb(81, 110, 65);
// 青丹

$tonocha: rgb(79, 114, 108);
// 沈香茶

$dobunezumi: rgb(79, 79, 72);
// 溝鼠

$benikakehana: rgb(78, 79, 151);
// 紅掛花

$sensaicha: rgb(77, 81, 57);
// 千歳茶

$aikobicha: rgb(75, 78, 42);
// 藍媚茶

$yanagisusutake: rgb(74, 89, 61);
// 柳煤竹

$kokimurasaki: rgb(74, 34, 93);
// 深紫

$onandocha: rgb(70, 93, 76);
// 御納戸茶

$keshizumi: rgb(67, 67, 67);
// 消炭

$kenpohzome: rgb(67, 52, 27);
// 憲法染

$matsuba: rgb(66, 96, 45);
// 松葉

$urumishu: rgb(66, 0, 0);
// 潤朱

$sabitetsuonando: rgb(64, 91, 85);
// 錆鉄御納戸

$kurobeni: rgb(63, 43, 54);
// 黒紅

$shikon: rgb(60, 47, 65);
// 紫紺

$chigusa: rgb(58, 143, 183);
// 千草

$omeshicha: rgb(55, 107, 109);
// 御召茶

$aisumicha: rgb(55, 60, 56);
// 藍墨茶

$chitosemidori: rgb(54, 86, 60);
// 千歳緑

$asagi: rgb(51, 166, 184);
// 浅葱

$sabionando: rgb(51, 103, 116);
// 錆御納戸

$saitaduma: rgb(50, 129, 49);
// 左伊多津万

$korainando: rgb(48, 90, 86);
// 高麗納戸

$tsuyukusa: rgb(46, 169, 223);
// 露草

$omeshionando: rgb(46, 92, 110);
// 御召御納戸

$tokusa: rgb(45, 109, 75);
// 木賊

$noshimehana: rgb(43, 95, 117);
// 熨斗目花

$seiheki: rgb(38, 135, 133);
// 靑碧

$tetsu: rgb(38, 69, 61);
// 鉄

$tetsukon: rgb(38, 30, 71);
// 鉄紺

$rokusho: rgb(36, 147, 110);
// 緑青

$midori: rgb(34, 125, 81);
// 緑

$konkikyo: rgb(33, 30, 85);
// 紺桔梗

$mushiao: rgb(32, 96, 79);
// 虫襖

$hanaasagi: rgb(30, 136, 168);
// 花浅葱

$sumi: rgb(28, 28, 28);
// 墨

$tokiwa: rgb(27, 129, 62);
// 常磐

$katsu: rgb(24, 27, 56);
// 勝

$konjou: rgb(17, 50, 133);
// 紺青

$aimirucha: rgb(15, 76, 58);
// 藍海松茶

$kon: rgb(15, 37, 64);
// 紺

$ai: rgb(13, 86, 97);
// 藍

$onando: rgb(12, 72, 66);
// 御納戸

$ro: rgb(12, 12, 12);
// 呂

$rurikon: rgb(11, 52, 110);
// 瑠璃紺

$kurotsurubami: rgb(11, 16, 19);
// 黒橡

$veludo: rgb(9, 97, 72);
// ビロード

$kachi: rgb(8, 25, 45);
// 褐

$kuro: rgb(8, 8, 8);
// 黒

$aomidori: rgb(0, 170, 144);
// 青緑

$shinbashi: rgb(0, 137, 167);
// 新橋

$aotake: rgb(0, 134, 108);
// 青竹

$suishoku: rgb(0, 126, 102);
// 翠色

$tokiwac: rgb(0, 100, 40);
// 常盤

$hanada: rgb(0, 98, 132);
// 縹

$ruri: rgb(0, 92, 175);
// 瑠璃

$nureba: rgb(0, 11, 0);
// 濡羽
