// https://nipponcolors.com

$toki: rgb(238, 169, 169);
// 鴇

$usukihada: rgb(249, 241, 192);
// 淡黄蘗

$hiwamoegi: rgb(201, 202, 145);
// 鶸萌黄

$usuki: rgb(250, 214, 137);
// 浅黄

$kanzo: rgb(252, 159, 77);
// 萱草

$usukoh: rgb(235, 180, 113);
// 薄香

$kariyasu: rgb(233, 205, 76);
// 刈安

$usubeni: rgb(232, 122, 144);
// 薄紅

$syoujyouhi: rgb(232, 48, 21);
// 猩猩緋

$kohbai: rgb(225, 107, 140);
// 紅梅

$nakabeni: rgb(224, 85, 119);
// 中紅

$tsutsuji: rgb(224, 60, 138);
// 躑躅

$shirotsurubami: rgb(220, 184, 121);
// 白橡

$ake: rgb(204, 84, 58);
// 緋

$ichigo: rgb(181, 73, 91);
// 莓

$shinsyu: rgb(171, 59, 58);
// 真朱

$ebicha: rgb(115, 67, 56);
// 海老茶

$kincha: rgb(199, 128, 45);
// 金茶

$terigaki: rgb(196, 98, 67);
// 照柿

$karacha: rgb(180, 113, 87);
// 唐茶

$aokuchiba: rgb(173, 161, 66);
// 青朽葉

$SHIRACHA: rgb(188, 159, 119);
// 白茶

$kikujin: rgb(177, 180, 121);
// 麴塵

$byakuroku: rgb(168, 216, 185);
// 白緑

$baikocha: rgb(137, 145, 107);
// 梅幸茶

$fujimurasaki: rgb(138, 107, 190);
// 藤紫

$hiwada: rgb(133, 72, 54);
// 檜皮

$ginsusutake: rgb(130, 102, 58);
// 銀煤竹

$moegi: rgb(123, 162, 63);
// 萌黄

$fushizome: rgb(150, 114, 73);
// 柴染

$higosusutake: rgb(141, 116, 42);
// 肥後梅竹

$kobicha: rgb(135, 102, 51);
// 媚茶

$kabacha: rgb(179, 92, 55);
// 樺茶

$kurikawacha: rgb(106, 64, 40);
// 栗皮茶

$kurumi: rgb(102, 51, 0);
// 胡桃

$wasurenagusa: rgb(125, 185, 222);
// 勿忘草

$fukagawanezumi: rgb(119, 150, 154);
// 深川鼠

$nibi: rgb(101, 103, 101);
// 鈍

$mirucha: rgb(98, 89, 44);
// 海松茶

$miru: rgb(91, 98, 46);
// 海松

$onandocha: rgb(70, 93, 76);
// 御納戸茶

$kenpohzome: rgb(67, 52, 27);
// けんぽう染め

$tokusa: rgb(45, 109, 75);
// 木賊

$noshimehana: rgb(43, 95, 117);
// 熨斗目花

$HANAASAGI: rgb(30, 136, 168);
// 花浅葱

$gunjyo: rgb(0, 102, 153);
// 群青

$ruri: rgb(0, 92, 175);
// 瑠璃

$hanada: rgb(0, 98, 132);
// 縹

$aomidori: rgb(0, 170, 144);
// 青緑

$shinbashi: rgb(0, 137, 167);
// 新橋

$tsuyukusa: rgb(46, 169, 223);
// 露草

$benimidori: rgb(123, 144, 210);
// 紅碧

$edomurasaki: rgb(119, 66, 141);
// 江戸紫

$futaai: rgb(112, 100, 154);
// 二藍

$kikyo: rgb(106, 76, 156);
// 桔梗

$murasaki: rgb(89, 44, 99);
// 紫

$shikon: rgb(60, 47, 65);
// 紫紺

$aisumicha: rgb(55, 60, 56);
// 藍墨茶

$tetsukon: rgb(38, 30, 71);
// 鉄紺

$aimirucha: rgb(15, 76, 58);
// 藍海松茶

$konkikyo: rgb(33, 30, 85);
// 紺桔梗

$sumi: rgb(28, 28, 28);
// 墨
