@use "tailwindcss";
@use "@nuxt/ui";
@use "./sweetalert-custom.scss";
@use "./colors" as colors;
@use "./buttons" as buttons;



input:disabled,
select:disabled {
  background-color: rgb(225, 225, 225);
  cursor: not-allowed;
}



.chart-container {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: auto;
}
